<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p class="lead">Še niste registrirani uporabnik? Prosim <a href="/registracija?stran={{ vm.prvotnaStran }}">registrirajte</a> se.</p>
      <form ng-submit="vm.posiljanjePodatkov()" autocomplete="off">
        <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
        <div class="form-group">
          <label for="email">Elektronski naslov</label>
          <input type="email" class="form-control" id="elektronskiNaslov" placeholder="Vnesite elektronski naslov" ng-model="vm.prijavniPodatki.elektronskiNaslov">
        </div>
        <div class="form-group">
          <label for="password">Geslo</label>
          <input type="password" class="form-control" id="geslo" placeholder="Geslo" ng-model="vm.prijavniPodatki.geslo">
        </div>
        <button type="submit" class="btn btn-default">Prijava!</button>
      </form>
    </div>
  </div>
  
  <noga></noga>
</div>